<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header::header"></head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header" style="font-size: 23px">API操作记录</div>
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item">
                <div class="layui-inline">过滤查询：</div>
                <div class="layui-inline">
                    <input autocomplete="off" class="layui-input" name="tableName" placeholder="表名(模糊查询)" type="text">
                </div>
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input class="layui-input" id="metadata-date" placeholder="开始时间-结束时间" type="text">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-normal   layui-btn-sm" id="hup-file-search"
                            lay-filter="hup-file-search"
                            lay-submit="">查找
                    </button>
                </div>
            </div>

        </div>
        <div class="layui-card-body">
            <table id="metadata-apiTableLog" lay-filter="metadata-apiTableLog"></table>
            <script id="TableTopToolbar" type="text/html">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="Export">导出选中</button>
                </div>
            </script>
        </div>
    </div>
</div>
<style>
    .layui-btn + .layui-btn {
        margin-left: 0px;
    }
</style>
<script th:src="@{/layuiAdmin/src/layuiadmin/layui/layui.js}"></script>
<script>
    layui.config({
        base: '[[@{/layuiAdmin/src/layuiadmin/}]]'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'SavingFunction', 'table', 'form', 'util', 'laydate'], function () {
        let $ = layui.$
            , form = layui.form
            , table = layui.table
            , util = layui.util
            , laydate = layui.laydate
            , SavingFunction = layui.SavingFunction;

        laydate.render({
            elem: '#metadata-date'
            , range: true
        });

        let field = [
            {type: 'checkbox'},
            {type: 'numbers', title: '序号', align: 'center'}
            , {field: 'tableName', title: '表名', align: 'center'}
            , {field: 'type', title: '操作类型', align: 'center', filter: true}
            , {field: 'jsonData', title: '数据集', align: 'center'}
            , {field: 'dataCount', title: '影响记录数', align: 'center'}
            , {field: 'operationSysName', title: '业务系统'}
            , {field: 'operationIp', title: 'IP'}
            , {
                field: 'operationTime', title: '操作时间', width: 200, align: 'center', templet: function (d) {
                    return util.toDateString(d.operationTime);
                }
            }
        ];
        let userTable = SavingFunction.intoTable({
            id: 'metadata-apiTableLog'
            , url: '[[@{/metadata/apiTableLog/listPage.json}]]'
            , filter: true
            , toolbar: '#TableTopToolbar'
            , cols: [field]
            , height: 'full-180'
        });

        table.on('toolbar(metadata-apiTableLog)', function (obj) {
            let checkStatus = table.checkStatus('metadata-apiTableLog'), datas = checkStatus.data;
            let ids = [];
            for (let i = 0; i < datas.length; i++) {
                ids[i] = datas[i].id;
            }
            switch (obj.event) {
                case 'Export':
                    if (datas.length < 1) {
                        return layer.msg('请选择一条记录后进行操作！');
                    }
                    layer.confirm('是否确认导出勾选的记录?', {icon: 3, title: '提示'}, function (index) {
                        SavingFunction.exportExcel('[[@{/metadata/upload/export.json}]]', {
                            ids: ids,
                            pojoName: 'ApiTableLog',
                            pojoChineseName: "API操作表记录"
                        });
                        layer.close(index);
                    });
                    break;
            }

        });

        $('input[name="tableName"]').keyup(function () {
            userTable.reload({
                where: {
                    tableName: $('input[name="tableName"]').val()
                }, page: {curr: 1}
            });
        });

        form.on('submit(hup-file-search)', function () {
            userTable.reload({
                where: {
                    tableName: $('input[name="tableName"]').val(),
                    startDate: $('#metadata-date').val().split(' - ')[0],
                    endDate: $('#metadata-date').val().split(' - ')[1]
                }, page: {curr: 1}
            });
        });


    });
</script>
</body>
</html>
